.card {
    height: 7rem;
    width: 24rem;
    margin-right: 3rem;
    margin-top: 2rem;
    background-color: #ffffff;
    border-color:#21aff8 ;
    border-radius: 5px;
    display: inline-block;
}
.subcard {
    display: inline-block;
    height: 7rem;
    width: 5rem;
    background-color: #21aff8;
    border-radius: 2px;

    
}
.cardicon {
    display: inline-block;
    margin-top: 35px;
    margin-left: 20px;
    color: #ffffff;
    
}
.textcard {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
}
.card1 {
    height: 7rem;
    width: 20rem;
    margin-right: 3rem;
    margin-top: 3rem;
    border-color: #21aff8 ;
    border-radius: 5px;
    background-color: #ffffff;
    display: inline-block;
}
.text {
    align-items: center;
    text-align: inherit;
    
}